@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
* {
  font-family: "Inconsolata", monospace;
  text-decoration: none;
  color: white;
}

body {
  background-color: #191919;
}

.whitebttn {
  color: black;
  padding: 4px 10px 4px 10px;
  border-radius: 10px;
}

.whitebttn:hover {
  background-color: rgb(224, 224, 224);
  box-shadow: rgba(255, 251, 251, 0.5) 0px 0px 20px 0px;
}
